{%extends "notes/base.html" %}
{% block content %}
    

    <div class="center-column">
        <form method="POST" action="/">
            {% csrf_token %}
            {{form.title}}
            <input class="btn btn-info" type="submit" name="Create Task">
        </form>
        <div class="todo-list">
            
        {% for todo in todos %}
        <div class="item-row">

            {% if todo.status ==  True %}
             <strike>{{ todo }}</strike>
            {% else %}
            <span>{{ todo }}</span>
            {% endif %}
            
            <a class="btn btn-sm btn-info" href="{% url 'notes:update-todo' todo.id %}">update</a>
            <a class="btn btn-sm btn-danger" href="{% url 'notes:delete-todo' todo.id %}">delete</a>
        </div>
        
        {% endfor %}
    </div>
    
    {% endblock %}
</div>
